@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #222222;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: rgb(16, 83, 234);
    transition: 0.3s all;
}

#botao{
    border: 2px solid rgb(16, 83, 234);
    padding: 10px;
    border-radius: 15px;
}

#botao:hover {
    background-color: rgb(16, 83, 234);
    color: #fff;
}

.botao-cadastrar:hover {
    background-color: rgb(10, 50, 140);
    transition: 0.3s all;
}

h1 {
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
}

spam {
    color: rgb(16, 83, 234);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    width: 530px;
    padding-left: 80px;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(16, 83, 234);
    color: #fff;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}